{
    "openapi": "3.0.2",
    "info": {
        "title": "Inready",
        "version": "1.0",
        "description": "API Website Inready Workgroup",
        "contact": {
            "name": "Ikbal Djaya",
            "url": "https://ahmadikbaldjaya.github.io/inready-docs/",
            "email": "ikbaldjaya@gmail.com"
        }
    },
    "servers": [
        {
            "url": "https://inr.hmjti-uinam.com/api",
            "description": "Live Server"
        },
        {
            "url": "http://localhost:3000/api",
            "description": "Local Server"
        }
    ],
    "security": [
        {
            "AuthToken": []
        }
    ],
    "paths": {
        "/admin/login": {
            "post": {
                "tags": ["Login"],
                "summary": "Login",
                "description": "Admin Login",
                "security": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "user"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "user12345"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                },
                                                "user": {
                                                    "type": "object",
                                                    "properties": {
                                                        "username": {
                                                            "type": "string",
                                                            "example": "auth username"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "name"
                                                        },
                                                        "level": {
                                                            "type": "string",
                                                            "example": "level"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Login Fail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": 0
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/admin/logout": {
            "get": {
                "tags": ["Login"],
                "summary": "Logout",
                "description": "Admin Logout",
                "responses": {
                    "200": {
                        "description": "Success Logout",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/dashboard/member_chart": {
            "get": {
                "tags": ["Dashboard"],
                "summary": "Member Chart",
                "description": "Dashboard Member Chart \n\n Role: Admin | Editor | User",
                "responses": {
                    "200": {
                        "description": "Success Get Data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "member_count": {
                                                            "type": "integer",
                                                            "example": 100
                                                        },
                                                        "desain_count": {
                                                            "type": "integer",
                                                            "example": 10
                                                        },
                                                        "website_count": {
                                                            "type": "integer",
                                                            "example": 70
                                                        },
                                                        "mobile_count": {
                                                            "type": "integer",
                                                            "example": 20
                                                        },
                                                        "desain_percent": {
                                                            "type": "number",
                                                            "example": 10
                                                        },
                                                        "website_percent": {
                                                            "type": "number",
                                                            "example": 70
                                                        },
                                                        "mobile_percent": {
                                                            "type": "number",
                                                            "example": 20
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/dashboard/member_column_chart": {
            "get": {
                "tags": ["Dashboard"],
                "summary": "Member Colum Chart",
                "description": "Dashboard Member Column Chart \n\n Role: Admin | Editor | User",
                "responses": {
                    "200": {
                        "description": "Success Get Data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "male": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "angkatan": {
                                                                        "type": "string",
                                                                        "example": "nama angkatan"
                                                                    },
                                                                    "count": {
                                                                        "type": "integer",
                                                                        "example": 10
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "female": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "angkatan": {
                                                                        "type": "string",
                                                                        "example": "nama angkatan"
                                                                    },
                                                                    "count": {
                                                                        "type": "integer",
                                                                        "example": 10
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/dashboard/upcoming_agenda": {
            "get": {
                "tags": ["Dashboard"],
                "summary": "Upcoming Agenda",
                "description": "Upcoming Agenda \n\n Role: Admin | Editor | User",
                "responses": {
                    "200": {
                        "description": "Success Get Data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "agenda-slug"
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Agenda Title"
                                                            },
                                                            "time": {
                                                                "type": "string",
                                                                "format": "date"
                                                            },
                                                            "location": {
                                                                "type": "string",
                                                                "example": "agenda location"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "agenda description"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/slider": {
            "get": {
                "tags": ["Slider"],
                "summary": "Get List Of Sliders",
                "description": "Get List Of Sliders \n\n Role: Admin | Editor | User",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/perpagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success Get List Of Slider",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Slider"
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "$ref": "#/components/schemas/MetaPagination"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Slider"],
                "summary": "Create Slider",
                "description": "Create New Slider \n\n Role: Admin | Editor",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Slider Title"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Slider Description"
                                    },
                                    "image": {
                                        "anyOf": [
                                            {
                                                "type": "string",
                                                "format": "binary"
                                            }
                                        ]
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": 0,
                                        "default": 0
                                    }
                                },
                                "required": ["title", "description", "image"]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success Create New Slider",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/Slider"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/admin/slider/{slider_id}": {
            "parameters": [
                {
                    "name": "slider_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "example": 1
                    }
                }
            ],
            "get": {
                "tags": ["Slider"],
                "summary": "Get Slider",
                "description": "Get Slider By Id \n\n Role: Admin | Editor | User",
                "responses": {
                    "200": {
                        "description": "Success Get Slider",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/Slider"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Slider"],
                "summary": "Edit Slider",
                "description": "Edit Slider By Id \n\n Role: Admin | Editor",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/_method"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Slider Title"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Slider Description"
                                    },
                                    "image": {
                                        "anyOf": [
                                            {
                                                "type": "string",
                                                "format": "binary"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": 0
                                    }
                                },
                                "required": [
                                    "title",
                                    "description",
                                    "is_active"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success Create New Slider",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/Slider"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": ["Slider"],
                "summary": "Delete Slider",
                "description": "Delete Slider By Id  \n\n Role: Admin | Editor",
                "responses": {
                    "200": {
                        "description": "Success Delete Slider",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/member": {
            "get": {
                "tags": ["Member"],
                "summary": "Get List Of Members",
                "description": "Get List Of Members \n\n Role: Admin | Editor | User",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/perpagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success Get List Of Members",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Member"
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "$ref": "#/components/schemas/MetaPagination"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Member"],
                "summary": "Create New Member",
                "description": "Create New Member \n\n Role: Admin | Editor",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "nri": {
                                        "type": "string",
                                        "example": "123456788"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "member name"
                                    },
                                    "photo": {
                                        "anyOf": [
                                            {
                                                "type": "string",
                                                "format": "binary"
                                            }
                                        ]
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "member address"
                                    },
                                    "pob": {
                                        "type": "string",
                                        "example": "member pob"
                                    },
                                    "dob": {
                                        "type": "string",
                                        "example": "21-04-2024",
                                        "format": "ISO 8601"
                                    },
                                    "gender": {
                                        "enum": ["male", "female"]
                                    },
                                    "generation": {
                                        "type": "string",
                                        "example": "14"
                                    },
                                    "major_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "concentration_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "position": {
                                        "type": "string",
                                        "example": "member position"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "08123456781"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "member@gmail.com"
                                    },
                                    "instagram": {
                                        "type": "string",
                                        "example": "member_ig"
                                    },
                                    "facebook": {
                                        "type": "string",
                                        "example": "member_fb"
                                    }
                                },
                                "required": [
                                    "nri",
                                    "name",
                                    "gender",
                                    "generation",
                                    "major_id",
                                    "concentration_id",
                                    "position"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success Create New Member",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/MemberDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/admin/member/{member_id}": {
            "parameters": [
                {
                    "name": "member_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "example": 1
                    }
                }
            ],
            "get": {
                "tags": ["Member"],
                "summary": "Get Member",
                "description": "Get Member By Id \n\n Role: Admin | Editor | User",
                "responses": {
                    "200": {
                        "description": "Success Get Member",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/MemberDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Member"],
                "summary": "Edit Member",
                "description": "Edit Member By Id \n\n Role: Admin | Editor",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/_method"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "nri": {
                                        "type": "string",
                                        "example": "123456788"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "member name"
                                    },
                                    "photo": {
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "string",
                                                "format": "binary"
                                            }
                                        ]
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "member address"
                                    },
                                    "pob": {
                                        "type": "string",
                                        "example": "member pob"
                                    },
                                    "dob": {
                                        "type": "string",
                                        "example": "21-04-2024",
                                        "format": "ISO 8601"
                                    },
                                    "gender": {
                                        "enum": ["male", "female"]
                                    },
                                    "generation": {
                                        "type": "string",
                                        "example": "14"
                                    },
                                    "major_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "concentration_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "position": {
                                        "type": "string",
                                        "example": "member position"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "08123456781"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "member@gmail.com"
                                    },
                                    "instagram": {
                                        "type": "string",
                                        "example": "member_ig"
                                    },
                                    "facebook": {
                                        "type": "string",
                                        "example": "member_fb"
                                    }
                                },
                                "required": [
                                    "nri",
                                    "name",
                                    "gender",
                                    "generation",
                                    "major_id",
                                    "concentration_id",
                                    "position"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success Create New Member",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/MemberDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": ["Member"],
                "summary": "Delete Member",
                "description": "Delete Member By Id \n\n Role: Admin | Editor",
                "responses": {
                    "200": {
                        "description": "Success Delete Member",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/member/all": {
            "get": {
                "tags": ["Member"],
                "summary": "Get All Member",
                "description": "Get All Member",
                "responses": {
                    "200": {
                        "description": "Success Get All Member",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/article": {
            "get": {
                "tags": ["Article"],
                "summary": "Get List Of Articles",
                "description": "Get List Of Articles \n\n Role: Admin | Editor | User",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/perpagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success Get List Of Articles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Article"
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "$ref": "#/components/schemas/MetaPagination"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Article"],
                "summary": "Create New Article",
                "description": "Create New Article \n\n Role: Admin | Editor",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "article title"
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "image": {
                                        "anyOf": [
                                            {
                                                "type": "string",
                                                "format": "binary"
                                            }
                                        ]
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "article content"
                                    }
                                },
                                "required": [
                                    "title",
                                    "category_id",
                                    "image",
                                    "content"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success Create New Article",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/ArticleDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/admin/article/{article_id}": {
            "parameters": [
                {
                    "name": "article_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "example": 1
                    }
                }
            ],
            "get": {
                "tags": ["Article"],
                "summary": "Get Article",
                "description": "Get Article By Id \n\n Role: Admin | Editor | User",
                "responses": {
                    "200": {
                        "description": "Success Get Article",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/ArticleDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Article"],
                "summary": "Edit Article",
                "description": "Edit Article By Id \n\n Role: Admin | Editor",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/_method"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "article title"
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "image": {
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "string",
                                                "format": "binary"
                                            }
                                        ]
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "article content"
                                    }
                                },
                                "required": ["title", "category_id", "content"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success Create New Article",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/ArticleDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": ["Article"],
                "summary": "Delete Article",
                "description": "Delete Article By Id \n\n Role: Admin | Editor",
                "responses": {
                    "200": {
                        "description": "Success Delete Article",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/activity": {
            "get": {
                "tags": ["Activity"],
                "summary": "Get List Of Activities",
                "description": "Get List Of Activities \n\n Role: Admin | Editor | User",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/perpagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success Get List Of Activities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Activity"
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "$ref": "#/components/schemas/MetaPagination"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Activity"],
                "summary": "Create New Activity",
                "description": "Create New Activity \n\n Role: Admin | Editor",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "activity title"
                                    },
                                    "registration_link": {
                                        "type": "string",
                                        "example": "url"
                                    },
                                    "flayer_image": {
                                        "anyOf": [
                                            {
                                                "type": "string",
                                                "format": "binary"
                                            }
                                        ]
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "location name"
                                    },
                                    "time": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "activity description"
                                    }
                                },
                                "required": [
                                    "title",
                                    "flayer_image",
                                    "location",
                                    "time",
                                    "description"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success Create New Activity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/ActivityDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/admin/activity/{activity_id}": {
            "parameters": [
                {
                    "name": "activity_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "example": 1
                    }
                }
            ],
            "get": {
                "tags": ["Activity"],
                "summary": "Get Activity",
                "description": "Get Activity By Id \n\n Role: Admin | Editor | User",
                "responses": {
                    "200": {
                        "description": "Success Get Activity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/ActivityDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Activity"],
                "summary": "Edit Activity",
                "description": "Edit Activity By Id \n\n Role: Admin | Editor",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/_method"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "activity title"
                                    },
                                    "registration_link": {
                                        "type": "string",
                                        "example": "url"
                                    },
                                    "flayer_image": {
                                        "anyOf": [
                                            {
                                                "type": "string",
                                                "format": "binary"
                                            }
                                        ]
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "location name"
                                    },
                                    "time": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "activity description"
                                    }
                                },
                                "required": [
                                    "title",
                                    "location",
                                    "time",
                                    "description"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success Edit Activity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/ActivityDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": ["Activity"],
                "summary": "Delete Activity",
                "description": "Delete Activity By Id \n\n Role: Admin | Editor",
                "responses": {
                    "200": {
                        "description": "Success Delete Activity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/work": {
            "get": {
                "tags": ["Work"],
                "summary": "Get List Of Works",
                "description": "Get List Of Works \n\n Role: Admin | Editor | User",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/perpagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success Get List Of Works",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Work"
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "$ref": "#/components/schemas/MetaPagination"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Work"],
                "summary": "Create New Work",
                "description": "Create New Work \n\n Role: Admin | Editor",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Samudra Potere"
                                    },
                                    "member_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "image": {
                                        "anyOf": [
                                            {
                                                "type": "string",
                                                "format": "binary"
                                            }
                                        ]
                                    },
                                    "link": {
                                        "type": "string",
                                        "format": "uri"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "description"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": 0
                                    }
                                },
                                "required": ["title", "member_id"]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success Create New Work",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/WorkDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/admin/work/{work_id}": {
            "parameters": [
                {
                    "name": "work_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "example": 1
                    }
                }
            ],
            "get": {
                "tags": ["Work"],
                "summary": "Get Work",
                "description": "Get Work By Id \n\n Role: Admin | Editor | User",
                "responses": {
                    "200": {
                        "description": "Success Get Work",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/WorkDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Work"],
                "summary": "Edit Work",
                "description": "Edit Work By Id \n\n Role: Admin | Editor",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/_method"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Samudera Potere"
                                    },
                                    "member_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "image": {
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "string",
                                                "format": "binary"
                                            }
                                        ]
                                    },
                                    "link": {
                                        "type": "string",
                                        "format": "uri"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "description"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": 0
                                    }
                                },
                                "required": ["title", "member_id"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success Edit Work",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/WorkDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": ["Work"],
                "summary": "Delete Work",
                "description": "Delete Work By Id \n\n Role: Admin | Editor",
                "responses": {
                    "200": {
                        "description": "Success Delete Work",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/agenda": {
            "get": {
                "tags": ["Agenda"],
                "summary": "Get List Of Agendas",
                "description": "Get List Of Agendas \n\n Role: Admin | Editor | User",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/perpagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success Get List Of Agendas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Agenda"
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "$ref": "#/components/schemas/MetaPagination"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Agenda"],
                "summary": "Create New Agenda",
                "description": "Create New Agenda \n\n Role: Admin | Editor",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Samudra Potere"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "description"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "location name"
                                    },
                                    "time": {
                                        "type": "string",
                                        "format": "date"
                                    }
                                },
                                "required": ["title", "location", "time"]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success Create New Agenda",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/AgendaDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/admin/agenda/{agenda_id}": {
            "parameters": [
                {
                    "name": "agenda_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "example": 1
                    }
                }
            ],
            "get": {
                "tags": ["Agenda"],
                "summary": "Get Agenda",
                "description": "Get Agenda By Id \n\n Role: Admin | Editor | User",
                "responses": {
                    "200": {
                        "description": "Success Get Agenda",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/AgendaDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Agenda"],
                "summary": "Edit Agenda",
                "description": "Edit Agenda By Id \n\n Role: Admin | Editor",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/_method"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Samudra Potere"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "description"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "location name"
                                    },
                                    "time": {
                                        "type": "string",
                                        "format": "date"
                                    }
                                },
                                "required": ["title", "location", "time"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success Edit Agenda",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/AgendaDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": ["Agenda"],
                "summary": "Delete Agenda",
                "description": "Delete Agenda By Id \n\n Role: Admin | Editor",
                "responses": {
                    "200": {
                        "description": "Success Delete Agenda",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/user": {
            "get": {
                "tags": ["User"],
                "summary": "Get List Of Users",
                "description": "Get List Of Users \n\n Role: Admin | Editor | User",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/perpagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success Get List Of Users",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/User"
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "$ref": "#/components/schemas/MetaPagination"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["User"],
                "summary": "Create New User",
                "description": "Create New User \n\n Role: Admin | Editor",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "ikrar"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password12345"
                                    },
                                    "level": {
                                        "enum": ["admin", "user", "editor"],
                                        "default": "user"
                                    },
                                    "member_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "required": [
                                    "username",
                                    "password",
                                    "level",
                                    "member_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success Create New User",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/UserDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/admin/user/{user_id}": {
            "parameters": [
                {
                    "name": "user_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "example": 1
                    }
                }
            ],
            "get": {
                "tags": ["User"],
                "summary": "Get User",
                "description": "Get User By Id \n\n Role: Admin | Editor | User",
                "responses": {
                    "200": {
                        "description": "Success Get User",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/UserDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["User"],
                "summary": "Edit User",
                "description": "Edit User By Id \n\n Role: Admin | Editor",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/_method"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "ikrar"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password12345"
                                    },
                                    "member_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "required": ["username", "member_id"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success Edit User",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/UserDetail"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": ["User"],
                "summary": "Delete User",
                "description": "Delete User By Id \n\n Role: Admin | Editor",
                "responses": {
                    "200": {
                        "description": "Success Delete User",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/bpo": {
            "get": {
                "tags": ["BPO"],
                "summary": "Get List Of BPO",
                "description": "Get List Of BPO \n\n Role: Admin | Editor | User",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/perpagePagination"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success Get List Of BPO",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BaseResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/BPO"
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "$ref": "#/components/schemas/MetaPagination"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["BPO"],
                "summary": "Create New BPO",
                "description": "Create New BPO \n\n Role: Admin | Editor",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "member_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "presidium_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "division_id": {
                                        "type": "integer",
                                        "example": 1
[...]
